<!--  AUTHOR:     Benz Le and Harrison Lee
//  COURSE:     ISTM 415
//  PROGRAM:    Jasper Green Web App
//  PURPOSE:    This html allows us to show the contact page of the JasperGreen Customer Management System
//  HONOR CODE: On my honor, as an Aggie, I have neither given 
//              nor received unauthorized aid on this academic work. -->
@{
    ViewData["Title"] = "Contact Us";
}

<div class="text-center">
    <h1 class="display-4">Contact Us</h1>
    <div class="left-aligned">
        <p class="normal-text">
            We could love to hear from you!
            <br>
            Email: support@jaspergreen.com
            <br>
            Phone: (979) 845-1616
        </p>
    </div>
</div>

